flows.json
[
    {
        "id": "0957b587be517fb2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f21d02d20e5c857c",
        "type": "inject",
        "z": "0957b587be517fb2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "b732a8c299b9c848",
                "82b7667e4bdba2c5"
            ]
        ]
    },
    {
        "id": "b732a8c299b9c848",
        "type": "debug",
        "z": "0957b587be517fb2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "d1cc3adaafecdcc5",
        "type": "debug",
        "z": "0957b587be517fb2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "82b7667e4bdba2c5",
        "type": "file in",
        "z": "0957b587be517fb2",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 280,
        "wires": [
            [
                "d1cc3adaafecdcc5"
            ]
        ]
    }
]