flows.json
[
    {
        "id": "0957b587be517fb2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f21d02d20e5c857c",
        "type": "inject",
        "z": "0957b587be517fb2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "b732a8c299b9c848"
            ]
        ]
    },
    {
        "id": "b732a8c299b9c848",
        "type": "debug",
        "z": "0957b587be517fb2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "d1cc3adaafecdcc5",
        "type": "debug",
        "z": "0957b587be517fb2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 360,
        "wires": []
    },
    {
        "id": "7a069a533adb502a",
        "type": "catch",
        "z": "0957b587be517fb2",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 240,
        "y": 260,
        "wires": [
            []
        ]
    }
]